Package: com.you.sovereignsecurity
Name: SovereignSecurity
Version: 1.0.0
Architecture: iphoneos-arm
Description: Sovereign Full ESP & Protection (Non-Jailbreak)
Maintainer: You
Author: You
Section: Tweaks
Depends: mobilesubstrate
